#pokemon-list-container {
  width: 100%;
  max-height: 500px; /* altura máxima con scroll */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

#pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.sprite {
  width: 50px;
  cursor: grab;
  position: relative;
}

.sprite.disabled {
  opacity: 0.3;
  pointer-events: none;
  filter: grayscale(100%);
  position: relative;
}

.sprite.disabled::after {
  content: '✖';
  color: red;
  position: absolute;
  top: 2px;      /* separa un poco del borde superior */
  right: 2px;    /* separa un poco del borde derecho */
  font-size: 20px;
  font-weight: bold;
  pointer-events: none;
  user-select: none;
  background: white; /* para asegurar contraste */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  z-index: 10;
}


#teams {
  display: flex;
  gap: 30px;
}

.team-box {
  width: 180px;
  height: 180px;
  border: 2px dashed #333;
  padding: 10px;
  position: relative;
}