#pokemon-search {
  width: 500px;
  max-width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

#pokemon-list-container {
  width: 500px;
  max-width: 100%;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

#pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
}

.sprite {
  width: 65px;
  cursor: grab;
  position: relative;
}

.sprite.disabled {
  opacity: 0.3;
  pointer-events: none;
  filter: grayscale(100%);
  position: relative;
}

.sprite.disabled::after {
  content: '';
}

#teams-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#add-team-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
}

#add-team-btn:hover {
  background: #f0f0f0;
}

#teams {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.team-box {
  width: 220px;
  height: 260px;
  border: 2px dashed #333;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #fff;
}

.team-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.team-box-title {
  font-weight: bold;
  font-size: 18px;
  color: gray;
  user-select: none;
}

.toggle-box-btn,
.close-box-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  margin-left: 4px;
}

/* área de pokémon */
.team-box-content {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}

.team-box-buttons {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.team-box-buttons button {
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  border: none;
  user-select: none;
}

.team-box-buttons button:hover {
  color: #007bff;
}

/* ocultar caja: solo se ve header */
.team-box.collapsed .team-box-content,
.team-box.collapsed .team-box-buttons {
  display: none;
}